
#Menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 90%;
    width: 65vw;
}

/* Header/SearchBar.js */
#SearchBarDiv {
    max-width: 50%;
    width: 50vw;
}
#SearchBarDiv form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    width: 70vw;
}
#inputText {
    max-width: 90%;
    height: 5vh;
    width: 20vw;
}

#SearchBtn {
    max-width: 10%;
    height: 6vh;
}

/* Header/Menu */
#Links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 65%;
    width: 20vw;
}

#Links a {
    font-size: 25px;
}