#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* header part */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20vmin;
}
#main {
    width: 60vmin;
}
#titleImg {
    width: 100%;
}

.searchInput:focus {
    width: 80%;
}

.searchBarDiv {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex;
    align-items: center;
}
.searchBarDiv form {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchInput{
    padding: 1.2em 7em;
}

.searchBarDiv button {
    width: 8vmin;
    height: 4vmin;
}
.dropdownMenu {
    width: 50%;
}
.menuContainer {
    width: 100%;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
}


/* banner */
#bannerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0px;
    padding: 5rem 0;
    width: 100%;
    background-image: url("./components/views/Banner/mainpicture.jpg");
    height: 10%;
}

#bannerContents {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 90%;
}

.bannerTitle {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    font-weight: 100;
    color: #ED4C67;
}

#bannerContents p {
    color: #fce3f7;
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
}



/* body part */

#bodyPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10vmin;
}

/*Log in*/
.userFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vmin;
}

.userFormTitle {
    font-size: 2rem;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: 1px gray solid;
    padding-bottom: 1rem;
}

.userFormContainer form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
}

.altValidInputs {
    font-size: 0.7rem;
    color: #ED4C67;
}
.formLabel {
    margin-top: 2rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    color: grey;
    font-family: 'Nanum Gothic', sans-serif;
}
.formInput {
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 0.7rem;
    border: none;
    border-bottom: 1px solid grey;
    box-shadow: 5px 10px 20px grey;
}


.formBtns {
    margin-top: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: white;
}

#LoginBtnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.2rem;
    align-self: center;
}

.btnRegister {
    color: grey;
}
.btnSubmit {
    font-weight: bold;
    color:  #ED4C67;
}

/* printPostPage - Main */
.printPostsPageContainer {
    width: 100%;
    height: 100%;
}
.printPostsContainer {
    width: 100%;
    height: 90%;
}

/* footer */
#FooterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    margin-top: 20vmin;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
}
.footerContents {
    margin: 0px;
    font-size: 1.6vmin;
}
.Footertitle {
    font-family: 'Nanum Gothic', sans-serif; 
    margin: 0.3rem;
}

/* mypage */
.myPageContainer {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myPageNavContainer {
    display: flex;
    flex-direction: row;
    width: 90%;
    height:10%;
    justify-content: center;
    border-bottom: 0.5px solid black;
}

.userId {
    font-size: 2rem;
    width: 20%;
    text-align: center;
}

.myPageNav {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
}

.myPageContents {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

/* mainPage - postCard */
.postCardContainer {
    padding: 5vmin 10vmin;
    justify-content: space-around;
    flex-flow: row wrap;
    display: flex;
}
.postCard {
    padding: 1rem;
    /* border: 1px solid #D9D9D9; */
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    height: 100%;
}
.cardImgContainer {
    width: 100%;
    height: auto;
}
#cardImg {
    width: 100%;
    height: 70%;
    margin: 1rem;
}

.cardTitle {
    font-family: 'Noto Serif KR', serif;
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}

/* make new funding page /fundings */
.newFundingContainer,
.fundingInfoContainer {
    display: flex;
    flex-direction: column;
}

/* event classList */
.clickedBtn {
    color: #ED4C67;
}

.displayNone {
    display: none;
}

.displayFlex {
    display: flex;
}

/* Login form validation event classList */
.confirmed {
    font-weight: bold;
    color: green;
}

.notConfirmed {
    font-weight: bold;
    color: red;
}



/* font-family: 'Fira Sans', sans-serif;
font-family: 'Nanum Gothic', sans-serif; 
font-family: 'Bangers', cursive;
font-family: 'Noto Serif KR', serif; */